table{
	width: 720px;
	height: 700px;
	border: 2px solid black;
}
tr>td{
	border: 2px solid black;
}
.one{
	width: 150px;
	height: 230px;
}
.two{
 width: 250px;
 }
.tfree{
	margin-top: 50px;
	width: 80px;
}
.ulteg{
	height: 250px;

}
.ulteg>ul{
	margin: 1px;
	
}
img{
	width: 140px;
	height: 230px;
}
